.note-grid{
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    grid-gap: 40px;
}

@media screen and (max-width: 750px){
    .note-grid{
        grid: auto-flow / 1fr 1fr;
    }
}

@media screen and (max-width: 500px){
    .note-grid{
        grid-gap: 20px;
    }
}
@media screen and (max-width: 450px){
    .note-grid{
        grid-gap: 0;
    }
}

@media screen and (max-width: 410px){
    .note-grid{
        grid: auto-flow / 1fr;
        grid-gap: 20px;
    }
}