.form__input{
    outline: unset;
    line-height: 2;
    margin-bottom: 20px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}